#Footer{
  background-color: black;
  color: white;
  position:fixed; 
  bottom: 0;
  width: 100%;
  text-align: center;
}
body{
  background: url(https://unsplash.com/photos/Tws17PwytpA/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NXx8c21hbGwlMjBzaXplfGVufDB8fHx8MTY3MzE5NzcyNw)
}
